superblack-git\README.md
superblack-git\LICENSE
Hytescord_superblack\manifest.json
Hytescord_superblack\superblack_assets\images\HytescordIcon_128b.png
Hytescord_superblack\superblack_assets\images\HytescordIcon_48b.png
