#button-enable {
	margin-top: 20px;
	background-color: #606bea;
	border: none;
	width: 200px;
	height: 70px;
	color: white;
	font-size: 20px;
	border-radius: 5px;
}
#button-disable {
	margin-top: 20px;
	background-color: #606bea;
	border: none;
	width: 200px;
	height: 70px;
	color: gray;
	font-size: 20px;
	border-radius: 5px;
}
.buttons {
    display: flex;
    flex-direction: column;
}